

{% extends "base.html.twig"%}
{% block title %}
    <title>Quete TWIG !</title>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Les vues avec Twig</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <span class="navbar-text">

    </span>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row " >
        {% for product in products %}
            <div class="col-4" >
                <div class="card bg-ligh" >
                    <div class="card-body">
                        {{ product }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


